.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.3s ease-in-out;
}

.sidemenuwrap {
    width: 80%; /* 너비를 80%로 변경 */
    height: 1200px;
    background-color: var(--ssg-point-secondary);
    position: absolute;
    top: 0;
    left: -80%; /* 왼쪽으로 -80%만큼 이동하여 완전히 화면 밖으로 밀어냅니다. */
    z-index: 200;
    transition: all 0.3s ease-in-out;
}

.sidemenuwrap.open {
    left: 0;
    transition: all 0.3s ease-in-out;
}