/* 회원가입 */
.top_cnt0,
.top_cnt1 {
    padding: 40px 20px
}

.sp_tit2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    word-break: keep-all
}

.sp_tit2 strong {
    font-weight: 700
}

.sp_tit2 strong.fnt_color {
    color: #f16701 !important
}

.cnt_box0+.terms_agree_box {
    padding-top: 0
}

.cnt_box0 {
    padding: 0 20px 40px
}

.step_list {
    margin-top: -10px
}

.step_list {
    margin-top: -10px
}

.step_list li {
    position: relative;
    box-sizing: border-box;
    height: 92px;
    padding: 0 0 0 90px;
    border-top: 1px solid #e8e8e8
}

.step_list li:first-child {
    border: none
}

.step_list li:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 60px;
    height: 62px;
    background: url(/images/step-icon.png) no-repeat;
    background-size: 100% auto
}

.step_list li.step2:before {
    background-position: 0 -70px
}

.step_list li.step3:before {
    background-position: 0 -140px
}

.step_list li.step4:before {
    background-position: 0 bottom
}

.step_list li .txt0 {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    line-height: 20px;
    font-family: Inter, Noto Sans KR, sans-serif;
    padding: 36px 9px 0 0
}

.step_list li .txt1 {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    padding-top: 33px
}

.step_list+.btn_box {
    margin: 24px 0 80px
}

.btn_box [class*=btn] {
    display: block;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    height: 48px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    padding: 12px;
    box-sizing: border-box;
}

.btn_primary {
    padding: 12px 16px !important;
    background: linear-gradient(110deg, #f40000 -5.78%, #ff8a00 17.06%, #f8b404 33.44%, #f9ad05 48.81%, #ff8a00 64.68%, #b258cb 85.01%, #00c4b4 103.04%);
    color: #000;
    font-weight: 500
}
.btn_box .sub_txt0 {
    font-size: 12px;
    color: #767676;
    text-align: center;
    line-height: 20px;
    word-break: keep-all;
    margin-top: 24px
}