/* .tab_menu_box ul {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap;
    overflow: hidden;
} */

/* .tab_menu_box ul {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    -ms-flex-pack: left;
    justify-content: left;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    list-style: none;
    display: flex;
    justify-content: start;
}

.tab_menu_box li .tab {
    display: block;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #e8e8e8;
    box-sizing: border-box;
    padding-top: 12px;
    background: #fff;
    font-size: 15px;
    line-height: 21px;
    color: #505050;
    text-align: center;
    flex: auto;
    
}

.tab_menu_box li .tab.on {
    color: #eb0000;
    font-weight: 500;
    position: relative;
}

.tab_menu_box ul li{
    flex :auto;
    box-sizing: border-box;
    position: relative;
} */

.tab_menu_box.on {
    top: 56px;
    opacity: 1;
}

.tab_menu_box {
    top: 56px;
    opacity: 1;
    position: relative;
    background: #fff;
    height: 48px;
    z-index: 1;
    transition: top .2s,opacity .2s;
    border-bottom: 1px solid #e8e8e8;
}

.tab_menu_box ul {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: left;
    justify-content: left;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
}
.tab_menu_box ul::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.tab_menu_box ul li:first-child {
    padding: 0 20px;
}

.tab_menu_box ul li {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0 20px 0 0;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.tab_menu_box ul li .tab.on {
    color: #ea035c;
    font-weight: 500;
}
.tab_menu_box ul li .tab a {
    position: relative;
    color: #767676;
    display: block;
    height: 100%;
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 12px 0;
}
